body {
    background-color: #181818;
    color: #dddddd;
    margin-left: 100px;
    margin-top: 100px;
    line-height: normal;
}

h1 {
    font-size: 50px;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    padding: 0.5em;
    font-size: 40px;
}

p {
    padding: 0.3em;
    font-size: 20px;
}

a {
    color: #dd9999
}
