html {
    background-color: #181818;
}

body {
    width: 50%;
    border-radius: 30px;
    background-color: #282828;
    color: #dddddd;
    margin: 100px auto;
    padding: 50px;
    line-height: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 50px;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    padding: 0.5em;
    font-size: 40px;
}

p {
    padding: 0.3em;
    font-size: 20px;
}

code {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #ffcc99;
    border-radius: 5px;
    padding: 4px 8px;
}
pre {
    background-color: #2e2e2e;
    color: #ffcc99;
    padding: 16px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 16px;
}

a {
    color: #dd9999;
    text-decoration: none;
    transition: color 1s ease;
}

a:hover {
    color: #ffbbbb;
    text-decoration: underline;
}

body, a, button, input, textarea {
    transition: all 0.3s ease;
}
